In [1]:
import pandas as pd
import random

In [30]:

list=[]
for i in range(int(input())):
    
    numbers = []
    for _ in range(6):
        number = random.randint(1, 45)
        while number in numbers:
            number = random.randint(1, 45)
        numbers.append(number)      
        
        numbers.sort(key=lambda x: x)
        
    list.append(numbers)
df_data = pd.DataFrame(list, columns=["첫번째", "두번째", "세번째","네번째","다섯번째","여섯번째"])
display(df_data)

5

   첫번째  두번째  세번째  네번째  다섯번째  여섯번째
0    5   11   18   19    26    33
1   10   12   15   23    25    39
2    2   12   20   27    33    43
3    6    9   13   18    34    45
4    6    7   12   21    38    42